.cardElem {
margin-left: 12px;
text-align: left;
height: 180px;
}


.tickets {
 /* display: flex;
 justify-content: space-between; */
}
.heading {
  font-size: 24px;
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 0px;
  margin:25px 25px 25px 0px !important;
}
.address{
  width: 100%;
  text-align: left;
  margin: 0px;
}

.information{
  margin-bottom: 25px;
  text-align: left;
  width: auto !important;
}

.transactions {
  margin-top: 25px;
}