.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropDownContainer {
 display: flex;
 justify-content: center;
 align-items: center;
  height: 150px;
}

.dropDownContainer .dropDown {
  width: 80vh;
}

.contentContainer {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  margin-bottom: 32px;
  border-radius: 25px;
  padding: 50px;
  border: 1px blue solid;
}